<source>
  type tail
  path {{ access_log_file }}
  pos_file {{ access_log_pos_file }}
  tag {{ fluentd_log_type }}.access.service
  format none
</source>

<match {{ fluentd_log_type }}.access.service>
  type record_reformer
  renew_record false
  enable_ruby false

  tag reformat.${tag}
  <record>
    message ${hostname} ${message}
  </record>

</match>

<match reformat.{{ fluentd_log_type }}.access.service>
  type forward
  flush_interval 1s
  buffer_type file
  buffer_path /var/log/td-agent/buffer/client_buf
  buffer_queue_limit 2048
  buffer_chunk_limit 8m
  flush_interval 60s
  expire_dns_cache 120s
  heartbeat_type tcp
  retry_limit 19

  <server>
    host {{ td_agent_host_ip }}
  </server>

</match>
